.figure-Navy {
  background-color: #000080;
}

.figure-White {
  background-color: #FFFFFF;
}

.figure-Green {
  background-color: #008000;
}

.figure-Black {
  background-color: #000000;
}

.figure-Red {
  background-color: #FF0000;
}

.figure-Olive_Blue {
  background-color: #6B8E23;
}

.figure-Skin {
  background-color: #F1C27D;
}

.figure-Pink {
  background-color: #FFC0CB;
}

.figure-Electric_Blue {
  background-color: #7DF9FF;
}

.figure-Silver {
  background-color: #C0C0C0;
}

.figure-Gold {
  background-color: #FFD700;
}

.figure-Neon_Green {
  background-color: #39FF14;
}

.figure-Dark_Red {
  background-color: #8B0000;
}

.figure-Burgundy {
  background-color: #800020;
}
.figure-Blue {
  background-color: #0000ff;
}
.figure-Dark_Blue {
  background-color: #010138;
}

.figure-Deep_Blue {
  background-color: #1d1d3d;
}

.figure-Purple {
  background-color: #800080;
}

.figure-Midnight_Blue {
  background-color: #191970;
}

.figure-Charcoal {
  background-color: #36454F;
}

.figure-Maroon {
  background-color: #800000;
}

.figure-Gray {
  background-color: #9b9b9b;
}

.figure-Light_Gray {
  background-color: #D3D3D3;
}

.figure-Pale_Pink {
  background-color: #FADADD;
}

.figure-Sky_Blue {
  background-color: #87CEEB;
}

.figure-Light_Blue {
  background-color: #ADD8E6;
}

.figure-Stonewash {
  background-color: #A3BFD9;
}

.figure-Blue_Wash {
  background-color: #A3BFD9;
}

.figure-Indigo {
  background-color: #3F00FF;
}

.figure-Dark_Wash {
  background-color: #6F8FAF;
}

.figure-Beige {
  background-color: #F5F5DC;
}

.figure-Light_Wash {
  background-color: #B0C4DE;
}

.figure-Khaki {
  background-color: #F0E68C;
}
