.Navy {
  background-color: #000080;
}

.White {
  background-color: #FFFFFF;
}

.Green {
  background-color: #008000;
}

.Black {
  background-color: #000000;
}

.Red {
  background-color: #FF0000;
}

.Olive_Blue {
  background-color: #6B8E23;
}

.Skin {
  background-color: #F1C27D;
}

.Pink {
  background-color: #FFC0CB;
}

.Electric_Blue {
  background-color: #7DF9FF;
}

.Silver {
  background-color: #C0C0C0;
}

.Gold {
  background-color: #FFD700;
}

.Neon_Green {
  background-color: #39FF14;
}

.Dark_Red {
  background-color: #8B0000;
}

.Burgundy {
  background-color: #800020;
}
.Blue {
  background-color: #0000ff;
}
.Dark_Blue {
  background-color: #010138;
}

.Deep_Blue {
  background-color: #1d1d3d;
}

.Purple {
  background-color: #800080;
}

.Midnight_Blue {
  background-color: #191970;
}

.Charcoal {
  background-color: #36454F;
}

.Maroon {
  background-color: #800000;
}

.Light_Gray {
  background-color: #D3D3D3;
}

.Pale_Pink {
  background-color: #FADADD;
}

.Sky_Blue {
  background-color: #87CEEB;
}

.Light_Blue {
  background-color: #ADD8E6;
}

.Stonewash {
  background-color: #A3BFD9;
}

.Blue_Wash {
  background-color: #A3BFD9;
}

.Indigo {
  background-color: #3F00FF;
}

.Dark_Wash {
  background-color: #6F8FAF;
}

.Beige {
  background-color: #F5F5DC;
}

.Light_Wash {
  background-color: #B0C4DE;
}

.Khaki {
  background-color: #F0E68C;
}
